.twitter--modal{
    width:99vw;
    height: 110vh;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    z-index: 999;
    border-radius: 13px;
    position: fixed;
    left: 0px;
    right: 0px;
    display: none;
    
}