.twitter--modal {
  width: 99vw;
  height: 110vh;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  z-index: 999;
  border-radius: 13px;
  position: fixed;
  left: 0px;
  right: 0px;
  transition: top 0.5s ease-in, opacity 0.5s ease-in;

  &__enter {
    opacity: 1;
  }

  &__out {
    opacity: 0;
  }

  &:before {
    content: " ";
    height: 5px;
    width: 11%;
    border: 1px solid #e6ecf0;
    background-color: #e6ecf0;
    position: absolute;
    top: 9px;
    right: 0;
    left: 0;
    border-radius: 999px;
    margin: 0px auto;
  }

  div {
    margin: 14px;
    text-align: center;
    font-size: 24px;
    padding: 0px 0;
    height: 33px;

    a {
      color: #000;
      text-decoration: none;
    }
  }
}

.awkward--sheet {
  background-color: #c0c0c0cc;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  opacity: 0.7;
}
